@media (max-width: 700px) {
  .title {
    font-size: 40px;
  }
  .homeSection {
    height: 400px;

    h1 {
      margin-top: 0px;
      font-size: 20px;
    }
    .desc {
      max-width: 100%;
      width: 200px;
      text-align: center;
      margin: 0 auto;
      padding: 20px 0px;
    }
  }

  .showcase {
    margin: 0 auto;
    nav {
      display: none;
    }
    .project {
      max-width: 100%;
     
      margin: 25px auto;
      h2 {
        padding-top: 50px;
      }
    }
    .projects {
      flex-flow: column;
      text-align: center;
      justify-content: center;
      flex-wrap: nowrap;
      
      img {
        display: none;
        border-radius: 8px;
      }
    }
    .skills {
      flex-flow: column;

      .mySkills {
        max-width: 100%;
        margin: 50px auto;

        h1 {
          font-size: 20px;
        }
      }
      .inProgress {
        max-width: 100%;
        margin: 50px auto;
        h1 {
          font-size: 20px;
        }
      }
    }
    .fab {
      font-size: 30px;
      color: $secondary-color;
    }
    .row {
      margin-top: 0;
    }
  }
  .hamMenu {
    display: flex;
    justify-content: space-between;
  }
  .activeMenu {
    display: block;
  }
}
